Repository holistics/dbml, pull requests merged in 2019-09, with the labels that each got.

#26 Output Syntax Error location to console
  packages/dbml-cli/__test__/cli.test.js
  packages/dbml-cli/__test__/dbml2sql/syntax-error/in-files/ecommerce.dbml
  packages/dbml-cli/__test__/dbml2sql/syntax-error/options.json
  packages/dbml-cli/__test__/dbml2sql/syntax-error/stdout.txt
  packages/dbml-cli/__test__/sql2dbml/syntax-error/in-files/business.sql
  packages/dbml-cli/__test__/sql2dbml/syntax-error/options.json
  packages/dbml-cli/__test__/sql2dbml/syntax-error/stdout.txt
  packages/dbml-cli/package.json
  packages/dbml-cli/src/cli/utils.js
  packages/dbml-cli/src/errors.js
  packages/dbml-cli/src/errors/domainError.js
  packages/dbml-cli/src/errors/index.js
  packages/dbml-cli/src/errors/syntaxError.js
  packages/dbml-core/package.json
Labels: PR: Bug Fix :bug:

#22 chore: deploy CI
  .travis.yml
  babel.config.js
  package.json
  packages/dbml-cli/__test__/cli.test.js
  packages/dbml-cli/bin/dbml2sql.js~93ec0b81b0d6b854078e3d6188fedfbefa552891
  packages/dbml-cli/bin/dbml2sql.js~HEAD
  packages/dbml-cli/bin/sql2dbml.js~93ec0b81b0d6b854078e3d6188fedfbefa552891
  packages/dbml-cli/bin/sql2dbml.js~HEAD
  packages/dbml-cli/package.json
  packages/dbml-cli/yarn.lock
  test/testSetupFile.js
  yarn.lock
Labels: enhancement

#27 Fix relationship description
  packages/dbml-core/src/parse/dbml/parser.pegjs
Labels: PR: Bug Fix :bug:, pkg: core

#28 Add supporting TableGroup syntax
  packages/dbml-core/__tests__/parser/dbml-parse/input/general_schema.in.dbml
  packages/dbml-core/__tests__/parser/dbml-parse/input/table_group.in.dbml
  packages/dbml-core/__tests__/parser/dbml-parse/output/general_schema.out.json
  packages/dbml-core/__tests__/parser/dbml-parse/output/table_group.out.json
  packages/dbml-core/src/parse/dbml/parser.pegjs
  packages/dbml-core/src/parse/dbmlParser.js
  packages/dbml-core/src/parse/mysql/parser1.pegjs
  packages/dbml-core/src/schema/schema.js
  packages/dbml-core/src/schema/table.js
  packages/dbml-core/src/schema/tableGroup.js
Labels: PR: New Feature :rocket:, pkg: core
