Repository holistics/dbml, pull requests merged in 2020-04, with the labels that each got.

#80 Schemarb/support single quote
  packages/dbml-core/__tests__/parser/schemarb-parse/input/schema4.in.rb
  packages/dbml-core/__tests__/parser/schemarb-parse/output/schema4.out.json
  packages/dbml-core/src/parse/dbmlParser.js
  packages/dbml-core/src/parse/schemarb/parser.pegjs
  packages/dbml-core/src/parse/schemarbParser.js
Labels: enhancement, pkg: core

#83 Parse index note for DBML
  packages/dbml-core/__tests__/model_structure/single_schema.js
  packages/dbml-core/__tests__/model_structure/single_schema.json
  packages/dbml-core/__tests__/parser/dbml-parse/input/index_tables.in.dbml
  packages/dbml-core/__tests__/parser/dbml-parse/output/index_tables.out.json
  packages/dbml-core/src/model_structure/indexes.js
  packages/dbml-core/src/parse/dbml/parser.pegjs
  packages/dbml-core/src/parse/dbmlParser.js
  yarn.lock
Labels: PR: Bug Fix :bug:, pkg: core

#86 fixes contributing setup section : yarn must be present to run 'lerna bootstrap'
  CONTRIBUTING.md
Labels: PR: Docs :memo:
