Repository holistics/dbml, pull requests merged in 2025-04, with the labels that each got.

#702 Update README.md
  README.md
  dbml-homepage/docs/home.md
Labels: PR: Docs :memo:

#708 Add Eslint and TSConfig
  .eslintrc.json
  package.json
  packages/dbml-cli/src/helpers/logger.js
  packages/dbml-cli/tsconfig.json
  packages/dbml-connector/.eslintrc.json
  packages/dbml-connector/package.json
  packages/dbml-core/.eslintrc.json
  packages/dbml-core/tsconfig.json
  packages/dbml-parse/.eslintrc.json
  packages/dbml-parse/package.json
  packages/dbml-parse/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: enhancement, PR: Internal :house_with_garden:

#714 Fix flaky db2dbml/mssql test cause by inconsistent table ordering
  .github/workflows/test.yml
  packages/dbml-connector/src/connectors/mssqlConnector.ts
Labels: PR: Bug Fix :bug:, PR: Internal :house_with_garden:

#718 MSSQL: fix cannot parse varchar(max) and double precision
  packages/dbml-core/__tests__/parser/mssql-parse/input/default_tables.in.sql
  packages/dbml-core/__tests__/parser/mssql-parse/input/wrapped_type.in.sql
  packages/dbml-core/__tests__/parser/mssql-parse/output/default_tables.out.json
  packages/dbml-core/__tests__/parser/mssql-parse/output/wrapped_type.out.json
  packages/dbml-core/src/parse/ANTLR/ASTGeneration/mssql/MssqlASTGen.js
Labels: bug, PR: Bug Fix :bug:, pkg: core
