Repository holistics/dbml, pull requests merged in 2025-05, with the labels that each got.

#657 PR: Bug Fix #655 - DB2DBML - SQL Server - No description on Table
  packages/dbml-cli/__test__/db2dbml/mssql/expect-out-files/schema.dbml
  packages/dbml-cli/__test__/db2dbml/mssql/schema.sql
  packages/dbml-connector/__tests__/connectors/mssql/expect-out-files/schema.json
  packages/dbml-connector/src/connectors/mssqlConnector.ts
Labels: enhancement, pkg: connector

#727 Fix table must define column when have partials with columns
  packages/dbml-core/__tests__/normalized_model/table_partial.in.dbml
  packages/dbml-core/__tests__/normalized_model/table_partial.js
  packages/dbml-core/__tests__/normalized_model/table_partial.out.json
  packages/dbml-core/src/model_structure/table.js
  packages/dbml-parse/src/lib/analyzer/validator/elementValidators/table.ts
  packages/dbml-parse/src/lib/interpreter/elementInterpreter/table.ts
  packages/dbml-parse/tests/binder/output/duplicate_name.out.json
  packages/dbml-parse/tests/binder/output/unknown_table_group_field.out.json
  packages/dbml-parse/tests/validator/input/table_with_no_columns.in.dbml
  packages/dbml-parse/tests/validator/output/alias_of_duplicated_names.out.json
  packages/dbml-parse/tests/validator/output/nested_duplicate_names.out.json
  packages/dbml-parse/tests/validator/output/redefined_note.out.json
  packages/dbml-parse/tests/validator/output/schema_nested_tablegroup.out.json
  packages/dbml-parse/tests/validator/output/table_with_no_columns.out.json
Labels: bug, PR: Bug Fix :bug:, pkg: core, pkg: parse

#728 Feat: allow unlimited prefix expression in column type with argument and default value
  lerna.json
  packages/dbml-cli/package.json
  packages/dbml-connector/package.json
  packages/dbml-core/__tests__/normalized_model/schema_def.in.dbml
  packages/dbml-core/__tests__/normalized_model/schema_def.out.json
  packages/dbml-core/package.json
  packages/dbml-parse/.eslintrc.json
  packages/dbml-parse/package.json
  packages/dbml-parse/src/lib/analyzer/validator/elementValidators/table.ts
  packages/dbml-parse/src/lib/analyzer/validator/elementValidators/tablePartial.ts
  packages/dbml-parse/src/lib/analyzer/validator/utils.ts
  packages/dbml-parse/src/lib/interpreter/utils.ts
  packages/dbml-parse/src/lib/lexer/lexer.ts
  packages/dbml-parse/src/lib/utils.ts
  packages/dbml-parse/tests/interpreter/input/negative_number.in.dbml
  packages/dbml-parse/tests/interpreter/output/default_tables.out.json
  packages/dbml-parse/tests/interpreter/output/negative_number.out.json
  packages/dbml-parse/tests/lexer/input/symbols.in.dbml
  packages/dbml-parse/tests/lexer/output/symbols.out.json
  packages/dbml-parse/tests/parser/input/expression.in.dbml
  packages/dbml-parse/tests/parser/output/call_expression.out.json
  packages/dbml-parse/tests/parser/output/expression.out.json
  packages/dbml-parse/tests/validator/input/negative_number.in.dbml
  packages/dbml-parse/tests/validator/output/negative_number.out.json
Labels: PR: Bug Fix :bug:, PR: New Feature :rocket:, pkg: parse

#717 Fix missing suggestion for ref color
  packages/dbml-parse/src/services/suggestions/provider.ts
Labels: bug, PR: Bug Fix :bug:, pkg: parse

#598 Fix/unwrap none in convert funcAppToElem
  lerna.json
  packages/dbml-cli/package.json
  packages/dbml-connector/package.json
  packages/dbml-core/package.json
  packages/dbml-parse/package.json
  packages/dbml-parse/src/lib/option.ts
  packages/dbml-parse/src/lib/parser/utils.ts
  packages/dbml-parse/tests/parser/input/nested_element.in.dbml
  packages/dbml-parse/tests/parser/output/nested_element.out.json
  packages/dbml-parse/tests/validator/input/wrong_sub_element_declarations.in.dbml
  packages/dbml-parse/tests/validator/output/wrong_sub_element_declarations.out.json
Labels: bug, PR: Bug Fix :bug:, pkg: parse

#733 DBX-6028 Bump express and prismjs to fix vulnerability issues
  dbml-homepage/yarn.lock
Labels: PR: Dependencies Update :robot:
